.vs/
obj/
bin/
**/obj/
**/bin/
**/.vs/
/.vs/
/*/.vs/
/*/bin/
/*/obj/
/**/.vs/
/**/bin/
/**/obj/
./.vs/
./*/.vs/
./*/bin/
./*/obj/
./**/.vs/
./**/bin/
./**/obj/

.vs/*
*/.vs/*
*/bin/*
*/obj/*
**/.vs/*
**/bin/*
**/obj/*
/.vs/*
/*/.vs/*
/*/bin/*
/*/obj/*
/**/.vs/*
/**/bin/*
/**/obj/*
./.vs/*
./*/.vs/*
./*/bin/*
./*/obj/*
./**/.vs/*
./**/bin/*
./**/obj/*

.vs/*.*
*/.vs/*.*
*/bin/*.*
*/obj/*.*
**/.vs/*.*
**/bin/*.*
**/obj/*.*
/.vs/*.*
/*/.vs/*.*
/*/bin/*.*
/*/obj/*.*
/**/.vs/*.*
/**/bin/*.*
/**/obj/*.*
./.vs/*.*
./*/.vs/*.*
./*/bin/*.*
./*/obj/*.*
./**/.vs/*.*
./**/bin/*.*
./**/obj/*.*

.vs/*.*.*
*/.vs/*.*.*
*/bin/*.*.*
*/obj/*.*.*
**/.vs/*.*.*
**/bin/*.*.*
**/obj/*.*.*
/.vs/*.*.*
/*/.vs/*.*.*
/*/bin/*.*.*
/*/obj/*.*.*
/**/.vs/*.*.*
/**/bin/*.*.*
/**/obj/*.*.*
./.vs/*.*.*
./*/.vs/*.*.*
./*/bin/*.*.*
./*/obj/*.*.*
./**/.vs/*.*.*
./**/bin/*.*.*
./**/obj/*.*.*