.vs/
*/.vs/
*/bin/
*/obj/
**/.vs/
**/bin/
**/obj/
/.vs/
/*/.vs/
/*/bin/
/*/obj/
/**/.vs/
/**/bin/
/**/obj/
./.vs/
./*/.vs/
./*/bin/
./*/obj/
./**/.vs/
./**/bin/
./**/obj/

.vs/*
*/.vs/*
*/bin/*
*/obj/*
**/.vs/*
**/bin/*
**/obj/*
/.vs/*
/*/.vs/*
/*/bin/*
/*/obj/*
/**/.vs/*
/**/bin/*
/**/obj/*
./.vs/*
./*/.vs/*
./*/bin/*
./*/obj/*
./**/.vs/*
./**/bin/*
./**/obj/*